<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src="{{ url_for('static', filename='js/lib/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/backbone-min.js') }}"></script>
</head>
<body>
    <div id="RegistrationPage">
        <h3>Enter your first name and verify that you are not a robot to control the cat toys.</h3>
        <form action="{{ url_for('register') }}" method="post">
            <label for="NameInput">Name:</label>
            <input id="NameInput" type="text" name="name"/>
            {{ recaptcha }}
            <input id="SubmitName" type="submit" value="Submit"/>
        </form>
    </div>
</body>
</html>