<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lollypop.css') }}" />

    <script src="{{ url_for('static', filename='js/lib/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>
<body>
    <div id="RegistrationPage">
        <h1>Lollypop Farm Cat Cam</h1>

        <h2>Live Video</h2>
        <div style="margin: 10px" align="center">
            <img id="CameraImage" alt="Live Video Feed" src=""/>
        </div>

        <h2>Register to control cat toys</h2>
        <form action="{{ url_for('register') }}" method="post">
            <div style="margin: 10px">
                <h3>Enter your first name and verify that you are not a robot to control the cat toys.</h3>
                <div style="margin-bottom: 10px" align="center">
                    <label for="NameInput">Name:</label>
                    <input id="NameInput" type="text" name="name"/>
                </div>

                <div style="margin-bottom: 10px" align="center">
                    {{ recaptcha }}
                </div>

                <div style="margin-bottom: 10px" align="center">
                    <input id="SubmitName" type="submit" value="Submit"/>
                </div>
            </div>

        </form>
    </div>

</body>
</html>